<!-- The HTML was commented as it was giving header and footer twice  -->

<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header'); %> -->
        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>Codiel / Profile Page</h1>
        <p>Name is <%= user.name %></p>
        <p>Email is <%= user.email %></p>
        <!-- <%- include('_footer'); %>
    </body>
</html> -->